.homecard {
	border: 5px solid transparent;
	border-radius: 4px;
	outline: 2px solid silver;

	&:hover {
		border-bottom-color: #2563eb;
		border-bottom-width: 5px;
		transition: 0.6s;
		transform: scale(1.05);
		transform-origin: center;
	}
}

.homecard__author {
	margin-top: auto;
	font-size: 1rem;
}
